.mat-form-field {
    margin-top: 16px;
  }

.help-sec {
  border: 1px solid #c5c3c2;
  border-radius: 4px;
  padding: 25px 15px;
  margin: 15px auto;
} 

.example-button-row.custumbtn{    
  display: inline-block;
  margin-right: 15px;
  margin-top: 10px;
  padding-bottom: 40px;
}
  


