.textAlignCenter {
  text-align: center;
}
.width110px {
  width:110px;
}
.has-error {
  border: 1px solid #a80000;
}
.txtred {
  color: #a80000;
}
.errortxt {
  font-size:smaller;
  color: #a80000;
}
