<body id="hero">

<app-authheader></app-authheader>


<div class="row">
  <div class="col-sm-6 col-lg-3 m-auto">
    <h3 class="text-white text-center">Retrieve Password<br>
   </h3>
    <p class="text-white  text-center">Enter Your Email Address<br>

 and we will send you a link Reset Your password</p>


    <div class="card">
      <div class="card-body">
        <div class="card-text">
          <!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
          <form #userform="ngForm" (ngSubmit)="userform.valid && verifyAndSendResetPwdMail(userform)" novalidate>
			  <div class="text-center">  <img src="./../../../../../assets/polercelinks/img/password.png" alt=""/></div>

            <!-- to error: add class "has-danger" -->
            <div class="form-group">

			  <label for="exampleInputEmail1" class="required">Email address</label>
              <input type="email" placeholder="example@email.com" class="form-control form-control-lg"
               id="exampleInputEmail1" email required name="email" ngModel #email="ngModel"
               [ngClass]="{'is-invalid':userform.submitted && email.invalid}" >
               <mat-error *ngIf="userform.submitted && email.invalid">
                <mat-error *ngIf="email.errors?.email">
                  Please Enter Valid Email Address.
                </mat-error>
                <mat-error *ngIf="email.errors?.required">
                  Please Enter Email Address.
                </mat-error>
              </mat-error>
            </div>

            <button type="submit" class="btn btn-warning btn-block pt-3 pb-3">Send</button>
            <button (click)="redirect()" class="btn btn-warning btn-block pt-3 pb-3">Cancel</button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>

<app-authfooter></app-authfooter>
