.mat-form-field {margin-top: 16px;}
.next-previous{padding-top: 50px;}
.help-sec {border: 1px solid #c5c3c2;border-radius: 4px;padding: 25px 15px;margin: 15px auto;} 
.example-button-row.custumbtn{margin-top: 10px;}
.next-right{text-align: right;display: block!important;margin-top:15px}
.mat-dialog-container { padding: 0 10px !important;width: 475px !important; margin: 0 -10px !important;overflow: hidden !important;}
