<div class="mat-dialog-content" >
        <div class="containers" style="position: relative;">
                <div>
                    <h6>{{channel}} Sync Orders</h6>
                    <button type="button" class="close close-btn-top" (click)="onCancelClick()">×</button>
                </div>
                <form [formGroup]="form">
                <div class="row">
                    <div class="col-sm-12">
                            <mat-form-field  class="example-full-width">
                                <mat-placeholder>Start DateTime</mat-placeholder>
                                <input matInput formControlName="startDate" [matDatetimepicker]="dts" required autocomplete="false">
                                <mat-datetimepicker-toggle [for]="dts" matSuffix></mat-datetimepicker-toggle>
                                <mat-datetimepicker #dts type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-12">
                            <mat-form-field class="example-full-width">
                                <mat-placeholder>End DateTime</mat-placeholder>
                                <mat-datetimepicker-toggle [for]="dte" matSuffix></mat-datetimepicker-toggle>
                                <mat-datetimepicker #dte type="datetime" openOnFocus="true" timeInterval="5"></mat-datetimepicker>
                                <input matInput formControlName="endDate" [matDatetimepicker]="dte" required autocomplete="false">
                            </mat-form-field>
                        </div>
                    </div>
              
                <div class="example-button-row custumbtn">
                    <button mat-raised-button class="float-left" color="primary" (click)="onSubmitClick();">Submit</button>
                </div>
                <div class="example-button-row custumbtn">
                        <button mat-raised-button class="float-right" color="primary" (click)="onCancelClick();">Cancel</button>
                </div>
            </form>
            
            </div>
        </div>
