<!-- <div class="page_content">
    <form [formGroup]="companyProfile" (ngSubmit)="onSubmit(form)" id="companyProfile" #form="ngForm">
        <div class="container-fluid">
            <div class="head-title-buton">

                <div class="row">

                    <div class="col-sm-6">
                        <h1>Company Profile</h1>
                    </div>

                    <div class="col-sm-6 text-right">
                        <div class="example-button-row custumbtn">
                            <button mat-raised-button color="primary"
                                [routerLink]="['/dashboard']">Cancel</button>
                        </div>
                        <div class="example-button-row custumbtn">
                            <button mat-raised-button color="primary" form="companyProfile"
                                class="text-uppercase" [disabled]="submitted" cdkFocusInitial
                                >
                                Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-sm-12">


                    <div class="common_content_section">
                        <div class="row">

                            <div class="col-sm-6">
                                <div class="account_info_section">
                                    <div class="account_info_title">
                                        <h2>Account Info</h2>
                                    </div>
                                    <div class="account_info_content">
                                        <div class="row">

                                            <div class="col-sm-12">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Email" formControlName="email" [readonly]="true"
                                                        [ngClass]="{ 'is-invalid': submitted && formControls.email.errors }"
                                                        required>
                                                    <mat-error *ngIf="formControls.email.errors?.required">
                                                        Please enter primary email
                                                    </mat-error>
                                                    <mat-error *ngIf="formControls.email.errors?.email">
                                                        Please enter a valid email address
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="account_info_section">
                                    <div class="account_info_title">
                                        <h2>Company Info</h2>
                                    </div>
                                    <div class="account_info_content">
                                        <div class="row">

                                            <div class="col-sm-12">

                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Company Name"
                                                        formControlName="companyName"
                                                        [ngClass]="{ 'is-invalid': submitted && formControls.companyName.errors }"
                                                        required>
                                                    <mat-error *ngIf="formControls.companyName.errors?.required">
                                                        Please enter company name
                                                    </mat-error>
                                                </mat-form-field>

                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-sm-12">
                                                <mat-form-field class="example-full-width">
                                                    <textarea matInput placeholder="Description"
                                                        formControlName="description">
                                                            </textarea>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-sm-12">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Website Url"
                                                        formControlName="websiteUrl"
                                                        [ngClass]="{ 'is-invalid': submitted && formControls.websiteUrl.errors }"
                                                        required>
                                                    <mat-error *ngIf="formControls.websiteUrl.errors?.required">
                                                        Please enter website Url
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-sm-12">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Line Address 1"
                                                        formControlName="addressLine1"
                                                        [ngClass]="{ 'is-invalid': submitted && formControls.addressLine1.errors }"
                                                        required>
                                                    <mat-error *ngIf="formControls.addressLine1.errors?.required">
                                                        Please enter line address 1
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-sm-12">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Line Address 2"
                                                        formControlName="addressLine2"
                                                        [ngClass]="{ 'is-invalid': submitted && formControls.addressLine2.errors }"
                                                        >
                                                    <mat-error *ngIf="formControls.addressLine2.errors?.required">
                                                        Please enter line address 2
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-sm-12">
                                                <mat-form-field class="example-full-width">
                                                    <mat-select matInput placeholder="Country" (selectionChange)="onCountryChange($event)"
                                                        formControlName="countryId"
                                                        [ngClass]="{ 'is-invalid': submitted && formControls.countryId.errors }"
                                                        required>
                                                        <mat-option>Select country</mat-option>
                                                        <mat-option *ngFor="let country of countries"
                                                            [value]="country.countryId">
                                                            {{country.countryName}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="formControls.countryId.errors">
                                                        Please select country
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-sm-12">
                                                <mat-form-field class="example-full-width">
                                                    <mat-select matInput placeholder="States" formControlName="stateId"
                                                        [ngClass]="{ 'is-invalid': submitted && formControls.stateId.errors }"
                                                        required>
                                                        <mat-option>Select state</mat-option>
                                                        <mat-option *ngFor="let state of states"
                                                            [value]="state.stateId">
                                                            {{state.stateName}}
                                                        </mat-option>
                                                    </mat-select>
                                                    <mat-error *ngIf="formControls.stateId.errors">
                                                        Please select state
                                                    </mat-error>
                                                </mat-form-field>

                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-sm-12">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="City" formControlName="city"
                                                        [ngClass]="{ 'is-invalid': submitted && formControls.city.errors }"
                                                        required>
                                                    <mat-error *ngIf="formControls.city.errors?.required">
                                                        Please enter city
                                                    </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-sm-12">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Postal code"
                                                        formControlName="postalCode" (keyup)="validateNumberInput($event)" id="postalCode" maxlength="6"
                                                        [ngClass]="{ 'is-invalid': submitted && formControls.postalCode.errors }"
                                                        required>
                                                    <mat-error *ngIf="formControls.postalCode.errors?.required">
                                                        Please enter postal code
                                                    </mat-error>
                                                    <mat-error *ngIf="formControls.postalCode.errors?.maxlength">
                                                        Postal code can be max 6 characters long.
                                                      </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-sm-12">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Phone" formControlName="phone" (keyup)="validateNumberInput($event)" id="phone" maxlength="11"
                                                        [ngClass]="{ 'is-invalid': submitted && formControls.phone.errors }"
                                                        required>
                                                    <mat-error *ngIf="formControls.phone.errors?.required">
                                                        Please enter phone
                                                    </mat-error>
                                                    <mat-error *ngIf="formControls.phone.errors?.maxlength">
                                                        Phone can be max 11 characters long.
                                                      </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-sm-12">
                                                <mat-form-field class="example-full-width">
                                                    <input matInput placeholder="Fax" formControlName="fax"  (keyup)="validateNumberInput($event)" id="fax" maxlength="10"
                                                        [ngClass]="{ 'is-invalid': submitted && formControls.fax.errors }"
                                                        >
                                                    <mat-error *ngIf="formControls.fax.errors?.required">
                                                        Please enter fax
                                                    </mat-error>
                                                    <mat-error *ngIf="formControls.fax.errors?.maxlength">
                                                        Fax can be max 10 characters long.
                                                      </mat-error>
                                                </mat-form-field>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="head_common_section">
                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <div class="example-button-row custumbtn">
                                        <button mat-raised-button color="primary"
                                            [routerLink]="['/dashboard']">Cancel</button>
                                    </div>
                                    <div class="example-button-row custumbtn">
                                        <button mat-raised-button color="primary" form="companyProfile"
                                            class="text-uppercase" [disabled]="submitted" cdkFocusInitial
                                            >
                                            Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </form>
</div> -->



