#exampleInputEmail1, #exampleInputPassword1{
  font-size: 0.85rem !important;
}


#row{
  max-width: 500px ;
}

.form-control-lg {
  height: calc(1.5em + 1rem + 2px);
  padding: .5rem 1rem;
  font-size: 0.85rem;
  line-height: 1.5;
  border-radius: .3rem;
}

:host::ng-deep#hero .container {
  padding-top: 0px;
}
