<!-- <div class="auth-wrap">
  <div class="row">

    <div class="col-sm-6 pr-0">
      <div class="aw-rgt">
        <div class="logo-wrap">
          <img src="../../../assets/img/logo.png" alt="Sellnet logo" />

        </div>
        <div class="auth-form-wrap">

        <form #userform="ngForm" (ngSubmit)="ResetPassword(userform)" novalidate>
            <mat-form-field class="example-full-width">
              <input type="password" matInput placeholder="Password" required name="Password" ngModel minlength="6"
                #password="ngModel" [ngClass]="{'is-invalid':userform.submitted && password.invalid}">
              <mat-error *ngIf="userform.submitted && password.invalid">
                <mat-error *ngIf="password.errors?.minlength">
                  Password Should be of 6 characters .
                </mat-error>
                <mat-error *ngIf="password.errors?.required">
                  password Should be entered .
                </mat-error>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Confirm Password" required name="confirmpassword" ngModel
            #confirmpassword="ngModel" pattern="{{password.value}}" [ngClass]="{'is-invalid':userform.submitted && confirmpassword.invalid}">
            <mat-error *ngIf="userform.submitted && confirmpassword.invalid">
              <mat-error *ngIf="confirmpassword.errors?.required">
                Confirm Password Should be required .
              </mat-error>
              <mat-error *ngIf="confirmpassword.errors?.pattern">
                Password Missmatch .
              </mat-error>
            </mat-error>
            </mat-form-field>

            <input *ngIf="href" type="hidden" name="UserId" value={{href}} [(ngModel)]="href" #UserId ="ngModel">

          <div class="example-button-row">
            <button type="submit" mat-raised-button color="primary">Submit</button>
          </div>
        </form>
        </div>
      </div>
    </div>


    <div class="col-sm-6 pl-0">
      <div class="aw-lft">
        <div class="overlay"></div>
        <div class="info">

        </div>
      </div>
    </div>

  </div>
</div> -->

<!-- Login Polerce  -->

<body id="hero">

  <app-authheader></app-authheader>

<div class="row">
  <div class="col-sm-6 col-md-5 col-md-5 m-auto" id="row">
    <h3 class="text-white text-center">Reset Password<br></h3>
      <!-- <span class="pcolor">Boost</span> Your Profits</h3> -->
    <!-- <p class="text-white  text-center">What is Lorem Ipsum Lorem Ipsum is simply dummy text of the printing and
 typesetting industry Lorem Ipsum has </p> -->

<br>
    <div class="card">
      <div class="card-body">
        <div class="card-text">
          <form #userform="ngForm" (ngSubmit)="userform.valid && ResetPassword(userform)" novalidate>

            <div class="form-group">
              <label for="exampleInputPassword1" class="required">Password</label>
              <input type="password" placeholder="Password" id="exampleInputpassword1" class="form-control form-control-lg " id="pass3"
              required name="password" ngModel
              #password="ngModel" [ngClass]="{'is-invalid':userform.submitted && password.invalid}">
              <mat-error *ngIf="userform.submitted && password.invalid">
                <mat-error *ngIf="password.errors?.required">
                  Password should be entered .
                </mat-error>
              </mat-error>
              <br>
              <!-- <a routerLink = "/auth/retrivepassword" class="text-muted" style="float:right;font-size:12px;">Forgot password?</a><br> -->
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1" class="required">Confirm password</label>
              <input type="password" class="form-control form-control-lg " id="pass"
              placeholder="Confirm Password" required name="confirmpassword" ngModel
            #confirmpassword="ngModel" pattern="{{password.value}}" [ngClass]="{'is-invalid':userform.submitted && confirmpassword.invalid}">
            <mat-error *ngIf="userform.submitted && confirmpassword.invalid">
              <mat-error *ngIf="confirmpassword.errors?.required">
                Confirm Password Should be required .
              </mat-error>
              <mat-error *ngIf="confirmpassword.errors?.pattern">
                Password Missmatch .
              </mat-error>
            </mat-error>
            </div>
            <button type="submit" class="btn btn-warning btn-block pt-3 pb-3">Reset Password</button>
            <p class="text-center">or back to<a routerLink = "/auth/login" class="pcolor"> Login</a></p>

            <input *ngIf="href" type="hidden" name="UserId" value={{href}} [(ngModel)]="href" #UserId ="ngModel">
            <!-- <div class="sign-up">New here? <a routerLink = "/auth/login" class="pcolor">Create an account</a> </div> -->
            <!-- <div class="row  ">
              <div class="col-sm-4">
                <button class="btn btn-outline-dark btn-block btn-sm"><img src="./../../../../assets/polercelinks/img/g-icon.png" class="img-fluid mr-2" alt=""/> Google</button>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-outline-dark btn-block btn-sm"><img src="./../../../../assets/polercelinks/img/f-icon.png" class="img-fluid mr-2" alt=""/> Facebook</button>
              </div>
              <div class="col-sm-4">
                <button class="btn btn-outline-dark btn-block btn-sm"><img src="./../../../../assets/polercelinks/img/link-icon.png" class="img-fluid mr-2" alt=""/> Linkedin</button>
              </div>
            </div> -->
            <!-- <div class="sign-up">New here? <a routerLink = "/auth/register" class="pcolor">Create an account</a> </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<!-- <br><br><br> -->
<app-authfooter></app-authfooter>
