<div class="container">
  <h2>Change Password</h2>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col">
        <label>Password</label>
        <input type="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': submitted &&  f.password.errors}" />
        <mat-error *ngIf="submitted && f.password.invalid">
          <mat-error *ngIf="f.password.errors.required">
            Please Enter Password.
          </mat-error>
          <mat-error *ngIf="f.password.errors.minlength">
            Password Must Be At Least 6 Characters.
          </mat-error>
        </mat-error>
      </div>
      <div class="form-group col">
        <label>Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
        <mat-error *ngIf="submitted && f.confirmPassword.invalid">
          <mat-error *ngIf="f.confirmPassword.errors.required">
            Please Enter Confirm Password.
          </mat-error>
          <mat-error *ngIf="f.confirmPassword.errors.mustMatch">
            Password Miss Match.
          </mat-error>
        </mat-error>
      </div>
    </div>
    <div class="text-left">
      <button class="btn purple-btn text-uppercase ">
        Update Password
      </button>
    </div>
  </form>
</div>