<div *ngIf="loading" class="loader" id="loader"></div>

<!-- Begin Page Content -->
<div class="container-fluid" [ngClass]="{'container-fluid': loading}">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb mb-0">
      <li class="breadcrumb-item">
        <a href="#" class="text-muted" routerLink="/dashboard">Dashboard</a>
      </li>
      <li
        class="breadcrumb-item"
        routerLinkActive="Active"
        routerLink="/inventory/categories-listing"
        aria-current="page"
      >
        Manage Categories
      </li>
    </ol>
  </nav>

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-3">
    <h4 class="brown font-weight-bold">Manage Categories</h4>
  </div>

  <!-- Content Row -->
  <div class="bg-white card2 border shadow p-2">
    <div class="d-sm-flex align-items-center justify-content-between">
      <button
        class="btn btn-light text-uppercase pcolor2 font-weight-bold"
        routerLink="/inventory/addcategory"
        id="addbtn"
      >
        <i class="fa fa-plus"></i> Add New Category
      </button>
      <mat-list-item class="primary-imenu-item" role="listitem">
        <mat-form-field class="select-form">
          <mat-select
            placeholder="Add Columns"
            name="coloumns"
            class="filter-select"
            [(ngModel)]="selectedColoumns"
            [compareWith]="equals"
            multiple
            (selectionChange)="addColoumns($event)"
            #yearSelect="ngModel"
          >
            <mat-option *ngFor="let data of rowData" [value]="data.value">
              {{ data.label }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item>
    </div>
  </div>

  <!-- Content Row -->
  <div class="row">
    <div class=" col-lg-12">
      <div
        class="d-sm-flex align-items-center justify-content-between mt-4 mb-3"
      >
        <h5 class="text-uppercase font-weight-bold">Listing of Categories</h5>
      </div>
      <div class="card card2 shadow mb-4">
        <!-- Card Header - Dropdown -->
        <!-- Card Body -->
        <div class="card-body">
          <p-table
            #dt
            [value]="dataSource"
            [columns]="cols"
            [paginator]="true"
            paginatorPosition="bottom"
            [rows]="10"
            [rowHover]="true"
            [rowsPerPageOptions]="[5,10,15,20]"
            totalRecords="totalRecords"
            pageLinks="3"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [showCurrentPageReport]="true"
            [globalFilterFields]="baseColoumns"
            styleClass="p-datatable-customers"
            [filterDelay]="0"
          >
            <ng-template pTemplate="caption">
              <div class="table-header">
                <h4>List of Categories</h4>
                <span class="p-input-icon-left">
                  <!-- <i class="pi pi-search"></i> -->
                  <input
                    pInputText
                    type="text"
                    class="form-control"
                    (input)="dt.filterGlobal($event.target.value, 'contains')"
                    placeholder="Global Search"
                  />
                </span>
              </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of cols" [pSortableColumn]="col.field">
                  {{ col.header }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th>Actions</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-category>
              <tr>
                <td *ngFor="let data of getData(category)">{{ data }}</td>
                <td>
                  <img
                    type="button"
                    src="../../../../../assets/img/pencil.png"
                    (click)="editCategory(category.categoryId)"
                    id="edit"
                    pTooltip="Edit"
                    tooltipPosition="top"
                    height="20"
                    width="20"
                  />
                  <img
                    type="button"
                    src="../../../../../assets/img/bin.png"
                    id="delete"
                    height="20"
                    width="20"
                    pTooltip="Delete"
                    tooltipPosition="top"
                    (click)="showId(category.categoryId)"
                    data-toggle="modal"
                    data-target="#deleteModal"
                  />
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                  <td colspan="7">No data found.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</div>

<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Delete?</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure, for delete this category.
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancel
        </button>
        <a
          class="btn btn-primary"
          style="color: white !important;"
          (click)="deleteCategory(this.deleteId)"
          data-dismiss="modal"
          >Delete</a
        >
      </div>
    </div>
  </div>
</div>
