<div class="page_content amazon-order">
  <div class="container-fluid">
    <h1>Amazon List Products</h1>
    <div class="row">
      <div class="col-sm-12">
        <div class="head_common_section">
          <div class="row">
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Select Account</mat-label>
                <mat-select matInput placeholder="Account" (selectionChange)="handleAccountChange($event)">
                  <mat-option *ngFor="let account of accounts" [value]="account.userMarketplaceSiteMapId">
                    {{account.accountName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-3">
              <mat-form-field class="example-full-width">
                <mat-label>Select Filter</mat-label>
                <mat-select matInput placeholder="Select Filter" [(ngModel)]="defaultFilter" (selectionChange)="handleFilterChange($event)">
                  <mat-option value="None">None</mat-option>
                  <mat-option *ngFor="let customFilter of customFilters" [value]="customFilter.filterId">
                    {{customFilter.filterName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-sm-6 text-right" *ngIf="permissionsHelper.isEditable('Listing to Amazon')">
              <div class="example-button-row custumbtn">
                <button mat-raised-button color="primary" (click)="bulkAssignListingProfile()">Assign Category &
                  Specifics </button>
              </div>
              <div class="example-button-row custumbtn">
                <button mat-raised-button color="primary" (click)="submitAmazonProductListing()">List Now</button>
              </div>
              <div class="example-button-row custumbtn">
                <button mat-raised-button color="primary" (click)="syncOrders()">Sync Orders</button>
              </div>
            </div>
          </div>

        </div>

        <div class="mat-elevation-z8">
          <div class="table-responsive">
            <table class="custum-table-input" mat-table [dataSource]="dataSource" matSort>

              <!-- Checkbox Column -->
              <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef class="check-product">
                  <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                  </mat-checkbox>
                </th>
                <!-- <td mat-cell *matCellDef="let row" class="check-product">
                  <mat-checkbox (change)="handleCheckChanged($event,row)">
                  </mat-checkbox>
                </td> -->
                <td mat-cell *matCellDef="let row" class="check-product">
                  <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null"
                                [checked]="selection.isSelected(row)">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!--SKU Column -->
              <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>SKU

                  <div class="mt10">
                    <mat-form-field *ngFor="let filter of filterSelectObj| slice:0:1; let i=index">
                      <mat-label>contains</mat-label>
                      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.queryType"
                        (change)="filterChange(filter,$event)">
                        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                      </select>
                    </mat-form-field>
                  </div>
                  <div class="mt10">
                    <mat-form-field *ngFor="let filter of filterSelectObj| slice:0:1; let i=index">
                      <input matInput placeholder="Search" (keyup)="filterChange(filter,$event)"
                        [(ngModel)]="filter.modelValue">
                    </mat-form-field>
                  </div>

                </th>
                <td mat-cell *matCellDef="let element" class="colorblue"> {{element.sku}} </td>
              </ng-container>


              <!--Title Column -->
              <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Title

                  <div class="mt10">
                    <mat-form-field *ngFor="let filter of filterSelectObj| slice:1:2; let i=index">
                      <mat-label>contains</mat-label>
                      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.queryType"
                        (change)="filterChange(filter,$event)">
                        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                      </select>
                    </mat-form-field>
                  </div>
                  <div class="mt10">
                    <mat-form-field *ngFor="let filter of filterSelectObj| slice:1:2; let i=index">
                      <input matInput placeholder="Search" (keyup)="filterChange(filter,$event)"
                        [(ngModel)]="filter.modelValue">
                    </mat-form-field>
                  </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.title}} </td>
              </ng-container>

              <!--ASIN Column -->
              <ng-container matColumnDef="asin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ASIN
                  <mat-checkbox [(ngModel)]="hasAsin" (change)="getProductList()"> </mat-checkbox>
                  <div class="asin-check">
                    <mat-form-field *ngFor="let filter of filterSelectObj| slice:2:3; let i=index">
                      <mat-label>contains</mat-label>
                      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.queryType"
                        (change)="filterChange(filter,$event)">
                        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                      </select>
                    </mat-form-field>
                  </div>
                  <div class="mt10">
                    <mat-form-field *ngFor="let filter of filterSelectObj| slice:2:3; let i=index">
                      <input matInput placeholder="Search" (keyup)="filterChange(filter,$event)"
                        [(ngModel)]="filter.modelValue">
                    </mat-form-field>
                  </div>
                </th>
                <td mat-cell *matCellDef="let element" class="coloryellow"> {{element.asin}} </td>
              </ng-container>

              <!-- Cost Price Column-->
              <ng-container matColumnDef="initialCostPrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost Price
                  <div class="mt10">
                    <mat-form-field *ngFor="let filter of filterSelectObj| slice:3:4; let i=index">
                      <mat-label>contains</mat-label>
                      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.queryType"
                        (change)="filterChange(filter,$event)">
                        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                      </select>
                    </mat-form-field>
                  </div>
                  <div class="mt10">
                    <mat-form-field *ngFor="let filter of filterSelectObj| slice:3:4; let i=index">
                      <input matInput placeholder="Search" (keyup)="filterChange(filter,$event)"
                        [(ngModel)]="filter.modelValue">
                    </mat-form-field>
                  </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.initialCostPrice}} </td>
              </ng-container>

              <!-- sellingPrice Column -->
              <ng-container matColumnDef="retailPrice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Selling Price
                  <div class="mt10">
                    <mat-form-field *ngFor="let filter of filterSelectObj| slice:4:5; let i=index">
                      <mat-label>contains</mat-label>
                      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.queryType"
                        (change)="filterChange(filter,$event)">
                        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                      </select>
                    </mat-form-field>
                  </div>
                  <div class="mt10">
                    <mat-form-field *ngFor="let filter of filterSelectObj| slice:4:5; let i=index">
                      <input matInput placeholder="Search" (keyup)="filterChange(filter,$event)"
                        [(ngModel)]="filter.modelValue">
                    </mat-form-field>
                  </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.retailPrice}} </td>
              </ng-container>

              <!-- Quantity Column -->
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity
                  <div class="mt10">
                    <mat-form-field *ngFor="let filter of filterSelectObj| slice:5:6; let i=index">
                      <mat-label>contains</mat-label>
                      <select matNativeControl name="{{filter.columnProp}}" [(ngModel)]="filter.queryType"
                        (change)="filterChange(filter,$event)">
                        <option [value]="item" *ngFor="let item of filter.options">{{item}}</option>
                      </select>
                    </mat-form-field>
                  </div>
                  <div class="mt10">
                    <mat-form-field *ngFor="let filter of filterSelectObj| slice:5:6; let i=index">
                      <input matInput placeholder="Search" (keyup)="filterChange(filter,$event)"
                        [(ngModel)]="filter.modelValue">
                    </mat-form-field>
                  </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>

                  <div class="">
                    <p class="products-actions">Category & Specifics</p>
                  </div>
                  <div class="row searchall-containter">
                    <mat-form-field>
                      <input matInput placeholder="Search all" (keyup)="filterChange('All',$event)"
                        [(ngModel)]="SearchAllTextVal">
                    </mat-form-field>
                  </div>
                  <div class="row col-sm-1"></div>
                  <div class="col-sm-1 text-left">
                    <a (click)="getProductList()" class="pointer-reset-filter action-padding-top">Apply</a>
                    <a (click)="saveFilters()" class="pointer-reset-filter action-padding-top"  *ngIf="permissionsHelper.isEditable('Listing to Amazon')">Save</a>
                    <a (click)="resetFilters()" class="pointer-reset-filter action-padding-top">Reset</a>
                  </div>
                </th>

                <mat-cell *matCellDef="let row">
                  <button mat-icon-button matTooltip="Category & Specifics"  *ngIf="permissionsHelper.isEditable('Listing to Amazon')"
                    (click)="openSpecificationDialog(row.inventoryId)" class="iconbutton" color="primary">
                    <mat-icon aria-label="Edit"><img src="../../../../../assets/img/edit.svg"></mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
          <div *ngIf="products.length === 0" class="text-center">No records found</div>
          <mat-paginator [pageSizeOptions]="[5, 10, 20,50,100]" [length]="metaData['totalRecords']"
            [pageIndex]="metaData['currentPage'] - 1" [pageSize]="metaData['pageSize']"
            (page)="onPageChangeEvent($event)" showFirstLastButtons></mat-paginator>
        </div>


      </div>
    </div>

  </div>
</div>