.example-button-row.custumbtn{display: inline-block;margin-right: 15px;}
.example-button-row.custumbtn button{width:200px;background: #091A59;display:inline-block;height: 40px;color: #fff;}
table {width: 100%;}
.action-padding-top{padding-top: 20px;}
.pointer-reset-filter{cursor: pointer;margin-left: 25px;}
.products-actions{margin-top: 5px; margin-left: 52px;}
.searchall-containter{margin-left: 39px;margin-bottom: 19px;}
.products-action-containter{margin-top:-19px;margin-bottom: 10px;}