<app-homeheader></app-homeheader>
<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
<div *ngIf="loading" id="preloader"></div>

<!-- ======= Hero Section ======= -->
<div class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light text-white">Display Related Topic</h1>

      </div>
    </div>
  </div>
</div>

<!-- End Hero -->

<main id="main">


	<section id="pricing" class="pricing">
      <div class="container aos-init aos-animate" data-aos="fade-up">

     <div class="section-title">
        <p class="text-uppercase ycolor">Display Related Topic</p>
        <h2>Just answer a few questions<br>

so that we can personalize the  <br>
         <span class="ycolor">right experience for you.</span></h2>
	  <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

        <div class="col-sm-6">

    <strong>    Coming Soon</strong>

        </div>

      </div>
    </section>
</main>
<!-- End #main -->

<app-homefooter></app-homefooter>
