 .nav-item .nav-link.active {
    color: #000;
    background-position: center left;
    background-size: 104% 148%;
}
 .nav-item .nav-link {
    display: block;
    width: 100%;
    text-align: left;
    padding: 1rem;
    width: 14rem;
}