<div class="page_content">
  <div class="container-fluid">
    <h1>Marketplaces</h1>
    <div class="head-title-buton">
      <div class="head_common_section">
        <div class="row">
          <div class="col-sm-4">
            <div class="logo-wrap">
              <img src="../../../../../assets/img/ebay (1).png" (click)="openeBayConfigurationDialog()">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="logo-wrap">
              <img src="../../../../../assets/img/amazon (1).png" (click)="openAmazonConfigurationDialog()">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="logo-wrap">
              <img src="../../../../../assets/img/walmart (2).png" (click)="openWalmartConfigurationDialog()">
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<br><br><br><br><br>


