<app-homeheader></app-homeheader>

<a class="back-to-top" [ngClass]="{'button-scroll-to-top--show': showScroll}"  (click)="scrollToTop()"  style="display: inline;cursor:pointer;"><i class="ri-arrow-up-line"></i></a>
<div *ngIf="loading" id="preloader"></div>

<!-- ======= Hero Section ======= -->
<div class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light text-white">Products</h1>

      </div>
    </div>
  </div>
</div>


<!-- End Hero -->

<main id="main">



	<section id="faq" class="faq section-bg">
      <div class="container aos-init aos-animate" data-aos="fade-up">


     <div class="section-title">
        <p class="text-uppercase ycolor">Products</p>
<h2>Grow Your Sales
<br>


         <span class="ycolor">and Boost Your Profits</span></h2>

      </div>


            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                  <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                    <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Product 1</h5>
                            <p class="font-italic text-muted mb-0 small">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem.</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">₹64,999</h6>
                                <ul class="list-inline small">
                                        <li class="list-inline-item m-0"><i class="ri-star-fill text-success"></i></li>
                                     <li class="list-inline-item m-0"><i class="ri-star-fill text-success"></i></li>
                                           <li class="list-inline-item m-0"><i class="ri-star-fill text-success"></i></li>
                                     <li class="list-inline-item m-0"><i class="ri-star-fill text-success"></i></li>
									          <li class="list-inline-item m-0"><i class="ri-star-fill text-gray"></i></li>
                                </ul>
                            </div>
                      </div><img src="../../../../../assets/polercelinks/img/7.png" alt="Generic placeholder image" width="108" class="ml-lg-5 order-1 order-lg-2">
                    </div>
                    <!-- End -->
                </li> <!-- End -->
                <!-- list group item-->
                <li class="list-group-item">
                    <!-- Custom content-->
                  <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                    <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Product 2</h5>
                            <p class="font-italic text-muted mb-0 small">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem.</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">₹64,999</h6>
                                <ul class="list-inline small">
                                        <li class="list-inline-item m-0"><i class="ri-star-fill text-success"></i></li>
                                     <li class="list-inline-item m-0"><i class="ri-star-fill text-success"></i></li>
                                           <li class="list-inline-item m-0"><i class="ri-star-fill text-success"></i></li>
                                     <li class="list-inline-item m-0"><i class="ri-star-fill text-success"></i></li>
									          <li class="list-inline-item m-0"><i class="ri-star-fill text-gray"></i></li>
                                </ul>
                            </div>
                      </div><img src="../../../../../assets/polercelinks/img/8.png" alt="Generic placeholder image" width="108" class="ml-lg-5 order-1 order-lg-2">
                    </div>
                    <!-- End -->
                </li> <!-- End -->
                <!-- list group item -->
                <li class="list-group-item">
                    <!-- Custom content-->
                  <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                    <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Product 3</h5>
                            <p class="font-italic text-muted mb-0 small">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem.</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">₹64,999</h6>
                                <ul class="list-inline small">
                                        <li class="list-inline-item m-0"><i class="ri-star-fill text-success"></i></li>
                                     <li class="list-inline-item m-0"><i class="ri-star-fill text-success"></i></li>
                                           <li class="list-inline-item m-0"><i class="ri-star-fill text-success"></i></li>
                                     <li class="list-inline-item m-0"><i class="ri-star-fill text-success"></i></li>
									          <li class="list-inline-item m-0"><i class="ri-star-fill text-gray"></i></li>
                                </ul>
                            </div>
                      </div><img src="../../../../../assets/polercelinks/img/9.png" alt="Generic placeholder image" width="108" class="ml-lg-5 order-1 order-lg-2">
                    </div>
                    <!-- End -->
                </li> <!-- End -->
                <!-- list group item -->
                <li class="list-group-item">
                    <!-- Custom content-->
                  <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                    <div class="media-body order-2 order-lg-1">
                            <h5 class="mt-0 font-weight-bold mb-2">Product 4</h5>
                            <p class="font-italic text-muted mb-0 small">Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem.</p>
                            <div class="d-flex align-items-center justify-content-between mt-1">
                                <h6 class="font-weight-bold my-2">₹64,999</h6>
                                <ul class="list-inline small">
                                        <li class="list-inline-item m-0"><i class="ri-star-fill text-success"></i></li>
                                     <li class="list-inline-item m-0"><i class="ri-star-fill text-success"></i></li>
                                           <li class="list-inline-item m-0"><i class="ri-star-fill text-success"></i></li>
                                     <li class="list-inline-item m-0"><i class="ri-star-fill text-success"></i></li>
									          <li class="list-inline-item m-0"><i class="ri-star-fill text-gray"></i></li>
                                </ul>
                            </div>
                      </div><img src="../../../../../assets/polercelinks/img/10.png" alt="Generic placeholder image" width="108" class="ml-lg-5 order-1 order-lg-2">
                    </div>
                    <!-- End -->
                </li> <!-- End -->
            </ul> <!-- End -->


      </div>
    </section>
</main>
<!-- End #main -->
<app-homefooter></app-homefooter>
