<body id="page-top" class="sidebar-toggled">
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Sidebar -->
    <ul *ngIf="!sidebarToggled" class="navbar-nav bg-gradient-primary sidebar sidebar-dark" id="accordionSidebar">
      <a *ngIf="userData.roleId!=3" class="sidebar-brand" routerLink="/dashboard/staffdashboard">
        <div class="sidebar-brand-icon rotate-n-15">
          <img src="../../../../assets/admin/img/logo-icon.png" alt="" />
        </div>

        <div class="sidebar-brand-text mx-3">
          <img src="../../../../assets/admin/img/logo1.png" alt="" />
        </div>
      </a>

      <a *ngIf="userData.roleId==3" class="sidebar-brand" routerLink="/dashboard/admindashboard">
        <div class="sidebar-brand-icon rotate-n-15">
          <img src="../../../../assets/admin/img/logo-icon.png" alt="" />
        </div>

        <div class="sidebar-brand-text mx-3">
          <img src="../../../../assets/admin/img/logo1.png" alt="" />
        </div>
      </a>

      <!-- Nav Item - Dashboard -->
      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dashboard/staffdashboard"><img
            src="../../../../assets/admin/img/manage-products.png" class="mr-2" alt="" />
          <span>Dashboard</span></a>
      </li>

      <li *ngIf="userData.roleId==3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dashboard/admindashboard"><img
            src="../../../../assets/admin/img/manage-products.png" class="mr-2" alt="" />
          <span>Dashboard</span></a>
      </li>

      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#products" aria-expanded="true"
          aria-controls="collapseTwo">
          <img src="../../../../assets/admin/img/manage-products.png" class="mr-2" alt="" />
          <span>Manage Products</span></a>
        <div id="products" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLink="/inventory/add-product" routerLinkActive="active">Add Products</a>
            <a class="collapse-item" routerLink="/inventory/manage-product" routerLinkActive="active">Manage
              Products</a>
            <a class="collapse-item" routerLink="/inventory/productinsights" routerLinkActive="active">Product
              Insights</a>
          </div>
        </div>
      </li>

      <li *ngIf="userData.roleId==3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#userManagement" aria-expanded="true"
          aria-controls="collapseTwo">
          <img src="../../../../assets/admin/img/manage-products.png" class="mr-2" alt="" />
          <span>User Management</span></a>
        <div id="userManagement" (click)="userMangement($event)" class="collapse" aria-labelledby="headingTwo"
          data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLink="/users/add-user" routerLinkActive="active">Add User</a>
            <a class="collapse-item" routerLink="/users/manage-user" routerLinkActive="active">Manage User</a>
            <a class="collapse-item" routerLink="/users/subscribed-users" routerLinkActive="active">Subscribed Users</a>
          </div>
        </div>
      </li>

      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#inventory" aria-expanded="true"
          aria-controls="collapseTwo">
          <img src="../../../../assets/admin/img/inventory.png" class="mr-2" alt="" />
          <span>Inventory</span></a>
        <div id="inventory" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" (click)="viewCategory()" routerLinkActive="active">Category</a>
            <ul *ngIf="viewcat" class="list">
              <li>
                <a class="collapse-item" style="padding: .5rem .1rem;" routerLink="/inventory/addcategory"
                  routerLinkActive="active">Add Category</a>
              </li>
              <li>
                <a class="collapse-item" style="padding: .5rem .1rem;" routerLink="/inventory/categories-listing"
                  routerLinkActive="active">Categories Listing</a>
              </li>
            </ul>
            <a class="collapse-item" (click)="viewSubCategory()" routerLinkActive="active">Sub Category</a>
            <ul *ngIf="viewsub" class="list">
              <li>
                <a class="collapse-item" style="padding: .5rem .1rem;" routerLink="/inventory/addsubcategory"
                  routerLinkActive="active">Add Subcategory</a>
              </li>
              <li>
                <a class="collapse-item" style="padding: .5rem .1rem;" routerLink="/inventory/subcategories-listing"
                  routerLinkActive="active">Subcategory Listing</a>
              </li>
            </ul>
            <a class="collapse-item" (click)="viewSupplier()" routerLinkActive="active">Supplier</a>
            <ul *ngIf="viewsup" class="list">
              <li>
                <a class="collapse-item" style="padding: .5rem .1rem;" routerLink="/inventory/addsupplier"
                  routerLinkActive="active">Add Supplier</a>
              </li>
              <li>
                <a class="collapse-item" style="padding: .5rem .1rem;" routerLink="/inventory/suppliers"
                  routerLinkActive="active">Suppliers Listing</a>
              </li>
              <li>
                <a class="collapse-item" style="padding: .5rem .1rem;" routerLink="/inventory/productlistbysupplier"
                  routerLinkActive="active">ProductList By Supplier</a>
              </li>
            </ul>
            <a class="collapse-item" routerLink="/inventory/inventory-listing" routerLinkActive="active">
              Inventory listing</a>
          </div>
        </div>
      </li>

      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#shippingPackage" aria-expanded="true"
          aria-controls="collapseTwo">
          <img src="../../../../assets/admin/img/manage-products.png" class="mr-2" alt="" />
          <span>Shipping Package</span></a>
        <div id="shippingPackage" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLink="/shipping-package" routerLinkActive="active">Shipping Packages</a>
          </div>
        </div>
      </li>
      <!-- Heading -->
      <li class="nav-item" *ngIf="userData.roleId!=3" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#marketplace" aria-expanded="true"
          aria-controls="collapseTwo"><img src="../../../../assets/admin/img/channels.png" class="mr-2"
            alt="" /><span>Market Place</span>
        </a>
        <div id="marketplace" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLink="/marketplaces/channelconfigurations" routerLinkActive="active">Channel
              Configrations</a>
            <a class="collapse-item" routerLink="/marketplaces/managesaleschannels" routerLinkActive="active">Manage
              Sale Channels</a>
            <a class="collapse-item" routerLink="/marketplaces/manageordersfromglobalmarketplaces"
              routerLinkActive="active">Manage Channel Orders</a>
          </div>
        </div>
      </li>

      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#seller" aria-expanded="true"
          aria-controls="collapseTwo"><img src="../../../../assets/admin/img/channels.png" class="mr-2"
            alt="" /><span>Seller</span>
        </a>
        <div id="seller" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLink="/sellers/addseller" routerLinkActive="active">Add Seller</a>
            <a class="collapse-item" routerLink="/sellers/managesellers" routerLinkActive="active">Manage Sellers</a>
          </div>
        </div>
      </li>
      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/customers/mangecustomers" routerLinkActive="active">
          <img src="../../../../assets/admin/img/customers.png" class="mr-2" alt="" />
          <span>Manage Customers</span></a>
      </li>

      <!-- Nav Item - Tables -->
      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#order" aria-expanded="true"
          aria-controls="collapseTwo"><img src="../../../../assets/admin/img/channels.png" class="mr-2"
            alt="" /><span>Orders</span>
        </a>
        <div id="order" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLink="/orders/add-order" routerLinkActive="active">Add Order</a>
            <a class="collapse-item" routerLink="/orders/order-listing" routerLinkActive="active">Manage Orders</a>
          </div>
        </div>
      </li>

      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#subscription" aria-expanded="true"
          aria-controls="collapseThree"><img src="../../../../assets/admin/img/channels.png" class="mr-2"
            alt="" /><span>Subscription</span>
        </a>
        <div id="subscription" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLink="/settings/update-subscription" routerLinkActive="active">Update
              Subscription</a>
            <a class="collapse-item" routerLink="/transaction/view-subscription-history"
              routerLinkActive="active">Transaction History</a>
          </div>
        </div>
      </li>

      <li *ngIf="userData.roleId==3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/transaction/subscription-history-list"><img
            src="../../../../assets/admin/img/channels.png" class="mr-2" alt="" />
          <span>Transaction History</span></a>
      </li>

      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#reports" aria-expanded="true"
          aria-controls="collapseTwo"><img src="../../../../assets/admin/img/report.png" class="mr-2" alt="" />
          <span>Reports</span>
        </a>
        <div id="reports" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLink="/reports/profit-list" routerLinkActive="active">Profit List</a>
            <a class="collapse-item" routerLink="/reports/market-places-profit-list" routerLinkActive="active">Market
              Places Profit List</a>
          </div>
        </div>
      </li>

      <li *ngIf="userData.roleId==3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#collapseplans" aria-expanded="true"
          aria-controls="collapseTwo"><img src="../../../../assets/admin/img/repricing.png" class="mr-2"
            alt="" /><span>Subscription</span>
        </a>
        <div id="collapseplans" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLinkActive="active" routerLink="/subscription/add-subscription">Add
              Subscription</a>
            <a class="collapse-item" routerLinkActive="active"
              routerLink="/subscription/subscription-listing">Subscription Listing</a>
          </div>
        </div>
      </li>
      <li *ngIf="userData.roleId==3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/settings/update-profile"><img src="../../../../assets/admin/img/inventory.png"
            class="mr-2" alt="" />
          <span>Profile</span></a>
      </li>
      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#profile" aria-expanded="true"
          aria-controls="collapseTwo"><img src="../../../../assets/admin/img/inventory.png" class="mr-2"
            alt="" /><span>Profile</span>
        </a>
        <div id="profile" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLinkActive="active" routerLink="/settings/update-profile">
              Update Profile</a>
          </div>
        </div>
      </li>
      <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/settings/update-profile"><img src="../../../../assets/admin/img/inventory.png"
            class="mr-2" alt="" />
          <span>Profile</span></a>
      </li> -->
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
          <img src="../../../../assets/admin/img/logout.png" class="mr-2" alt="" />
          <span>Logout</span></a>
      </li>

      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" (click)="togler()" id="sidebarToggle"></button>
      </div>
    </ul>

    <!-- For Togler -->

    <ul *ngIf="sidebarToggled" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled"
      id="accordionSidebar">
      <a *ngIf="userData.roleId!=3" class="sidebar-brand" routerLink="/dashboard/staffdashboard">
        <div class="sidebar-brand-icon rotate-n-15">
          <img src="../../../../assets/admin/img/logo-icon.png" alt="" />
        </div>

        <div class="sidebar-brand-text mx-3">
          <img src="../../../../assets/admin/img/logo1.png" alt="" />
        </div>
      </a>
      <a *ngIf="userData.roleId==3" class="sidebar-brand" routerLink="/dashboard/admindashboard">
        <div class="sidebar-brand-icon rotate-n-15">
          <img src="../../../../assets/admin/img/logo-icon.png" alt="" />
        </div>

        <div class="sidebar-brand-text mx-3">
          <img src="../../../../assets/admin/img/logo1.png" alt="" />
        </div>
      </a>
      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dashboard/staffdashboard"><img
            src="../../../../assets/admin/img/manage-products.png" class="mr-2" alt="" />
          <span>Dashboard</span></a>
      </li>

      <li *ngIf="userData.roleId==3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/dashboard/admindashboard"><img
            src="../../../../assets/admin/img/manage-products.png" class="mr-2" alt="" />
          <span>Dashboard</span></a>
      </li>

      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#products" aria-expanded="true"
          aria-controls="collapseTwo">
          <img src="../../../../assets/admin/img/manage-products.png" class="mr-2" alt="" />
          <span>Manage Products</span></a>
        <div id="products" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLink="/inventory/add-product" routerLinkActive="active">Add Products</a>
            <a class="collapse-item" routerLink="/inventory/manage-product" routerLinkActive="active">Manage
              Products</a>
            <a class="collapse-item" routerLink="/inventory/productinsights" routerLinkActive="active">Product
              Insights</a>
          </div>
        </div>
      </li>

      <li *ngIf="userData.roleId==3" class="nav-item" (click)="userMangement($event)" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#userManagement" aria-expanded="true"
          aria-controls="collapseTwo">
          <img src="../../../../assets/admin/img/manage-products.png" class="mr-2" alt="" />
          <span>User Management</span></a>
        <div id="userManagement" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLink="/users/add-user" routerLinkActive="active">Add User</a>
            <a class="collapse-item" routerLink="/users/manage-user" routerLinkActive="active">Manage User</a>
          </div>
        </div>
      </li>

      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#inventory" aria-expanded="true"
          aria-controls="collapseTwo">
          <img src="../../../../assets/admin/img/inventory.png" class="mr-2" alt="" />
          <span>Inventory</span></a>
        <div id="inventory" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" (click)="viewCategory()" routerLinkActive="active">Category</a>
            <ul *ngIf="viewcat" class="list">
              <li>
                <a class="collapse-item" style="padding: .5rem .1rem;" routerLink="/inventory/addcategory"
                  routerLinkActive="active">Add Category</a>
              </li>
              <li>
                <a class="collapse-item" style="padding: .5rem .1rem;" routerLink="/inventory/categories-listing"
                  routerLinkActive="active">Categories Listing</a>
              </li>
            </ul>
            <a class="collapse-item" (click)="viewSubCategory()" routerLinkActive="active">Sub Category</a>
            <ul *ngIf="viewsub" class="list">
              <li>
                <a class="collapse-item" style="padding: .5rem .1rem;" routerLink="/inventory/addsubcategory"
                  routerLinkActive="active">Add Subcategory</a>
              </li>
              <li>
                <a class="collapse-item" style="padding: .5rem .1rem;" routerLink="/inventory/subcategories-listing"
                  routerLinkActive="active">Subcategory Listing</a>
              </li>
            </ul>
            <a class="collapse-item" (click)="viewSupplier()" routerLinkActive="active">Supplier</a>
            <ul *ngIf="viewsup" class="list">
              <li>
                <a class="collapse-item" style="padding: .5rem .1rem;" routerLink="/inventory/addsupplier"
                  routerLinkActive="active">Add Supplier</a>
              </li>
              <li>
                <a class="collapse-item" style="padding: .5rem .1rem;" routerLink="/inventory/suppliers"
                  routerLinkActive="active">Suppliers Listing</a>
              </li>
              <li>
                <a class="collapse-item" style="padding: .5rem .1rem;" routerLink="/inventory/productlistbysupplier"
                  routerLinkActive="active">ProductList By Supplier</a>
              </li>
            </ul>
            <a class="collapse-item" routerLink="/inventory/inventory-listing" routerLinkActive="active">
              Inventory listing</a>
          </div>
        </div>
      </li>

      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#shippingPackage" aria-expanded="true"
          aria-controls="collapseTwo">
          <img src="../../../../assets/admin/img/manage-products.png" class="mr-2" alt="" />
          <span>Shipping Package</span></a>
        <div id="shippingPackage" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLink="/shipping-package" routerLinkActive="active">Shipping Packages</a>
          </div>
        </div>
      </li>

      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#marketplace" aria-expanded="true"
          aria-controls="collapseTwo"><img src="../../../../assets/admin/img/channels.png" class="mr-2"
            alt="" /><span>Market Place</span>
        </a>
        <div id="marketplace" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLink="/marketplaces/channelconfigurations" routerLinkActive="active">Channel
              Configrations</a>
            <a class="collapse-item" routerLink="/marketplaces/managesaleschannels" routerLinkActive="active">Manage
              Sale Channels</a>
            <a class="collapse-item" routerLink="/marketplaces/manageordersfromglobalmarketplaces"
              routerLinkActive="active">Manage Channel Orders</a>
          </div>
        </div>
      </li>

      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#seller" aria-expanded="true"
          aria-controls="collapseTwo"><img src="../../../../assets/admin/img/channels.png" class="mr-2"
            alt="" /><span>Seller</span>
        </a>
        <div id="seller" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLink="/sellers/addseller" routerLinkActive="active">Add Seller</a>
            <a class="collapse-item" routerLink="/sellers/managesellers" routerLinkActive="active">Manage Sellers</a>
          </div>
        </div>
      </li>

      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/customers/mangecustomers" routerLinkActive="active">
          <img src="../../../../assets/admin/img/customers.png" class="mr-2" alt="" />
          <span>Manage Customers</span></a>
      </li>

      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#order" aria-expanded="true"
          aria-controls="collapseTwo"><img src="../../../../assets/admin/img/channels.png" class="mr-2"
            alt="" /><span>Orders</span>
        </a>
        <div id="order" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLink="/orders/add-order" routerLinkActive="active">Add Order</a>
            <a class="collapse-item" routerLink="/orders/order-listing" routerLinkActive="active">Manage Orders</a>
          </div>
        </div>
      </li>
      <li *ngIf="userData.roleId==3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/transaction/subscription-history-list"><img
            src="../../../../assets/admin/img/channels.png" class="mr-2" alt="" />
          <span>Transaction History</span></a>
      </li>
      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#subscription" aria-expanded="true"
          aria-controls="collapseThree"><img src="../../../../assets/admin/img/channels.png" class="mr-2"
            alt="" /><span>Subscription</span>
        </a>
        <div id="subscription" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLink="/settings/update-subscription" routerLinkActive="active">Update
              Subscription</a>
            <a class="collapse-item" routerLink="/transaction/view-subscription-history"
              routerLinkActive="active">Transaction History</a>
          </div>
        </div>
      </li>

      <li *ngIf="userData.roleId==3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#collapseplans" aria-expanded="true"
          aria-controls="collapseTwo"><img src="../../../../assets/admin/img/repricing.png" class="mr-2"
            alt="" /><span>Subscription</span>
        </a>
        <div id="collapseplans" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLinkActive="active" routerLink="/subscription/add-subscription">Add
              Subscription</a>
            <a class="collapse-item" routerLinkActive="active"
              routerLink="/subscription/subscription-listing">Subscription Listing</a>
          </div>
        </div>
      </li>

      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#reports" aria-expanded="true"
          aria-controls="collapseTwo"><img src="../../../../assets/admin/img/report.png" class="mr-2" alt="" />
          <span>Reports</span>
        </a>
        <div id="reports" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLink="/reports/profit-list" routerLinkActive="active">Profit List</a>
            <a class="collapse-item" routerLink="/reports/market-places-profit-list" routerLinkActive="active">Market
              Places Profit List</a>
          </div>
        </div>
      </li>

      <li *ngIf="userData.roleId==3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/settings/update-profile"><img src="../../../../assets/admin/img/inventory.png"
            class="mr-2" alt="" />
          <span>Profile</span></a>
      </li>

      <li *ngIf="userData.roleId!=3" class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="collapse" data-target="#profile" aria-expanded="true"
          aria-controls="collapseTwo"><img src="../../../../assets/admin/img/inventory.png" class="mr-2"
            alt="" /><span>Profile</span>
        </a>
        <div id="profile" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Components:</h6>
            <a class="collapse-item" routerLinkActive="active" routerLink="/settings/update-profile">
              Update Profile</a>
          </div>
        </div>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" data-toggle="modal" data-target="#logoutModal">
          <img src="../../../../assets/admin/img/logout.png" class="mr-2" alt="" />
          <span>Logout</span></a>
      </li>

      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" (click)="togler()" id="sidebarToggle"></button>
      </div>
    </ul>

    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
      <!-- Main Content -->
      <div id="content">
        <!-- Topbar -->
        <nav class="
            navbar navbar-expand navbar-light
            bg-white
            topbar
            mb-4
            static-top
            shadow
          ">
          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" (click)="togler()" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Search -->
          <form class="
              d-none d-sm-inline-block
              form-inline
              mr-auto
              ml-md-3
              my-2 my-md-0
              mw-100
              navbar-search
            ">
            <!-- <div class="input-group">
              <input
                type="text"
                class="form-control bg-light border-0 small"
                placeholder="Search for..."
                aria-label="Search"
                aria-describedby="basic-addon2"
              />
              <div class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fas fa-search fa-sm"></i>
                </button>
              </div>
            </div> -->
          </form>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="
                  dropdown-menu dropdown-menu-right
                  p-3
                  shadow
                  animated--grow-in
                " aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                      aria-label="Search" aria-describedby="basic-addon2" />
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <!-- Counter - Alerts -->
                <span class="badge badge-danger badge-counter">3+</span>
              </a>
              <!-- Dropdown - Alerts -->
              <div class="
                  dropdown-list dropdown-menu dropdown-menu-right
                  shadow
                  animated--grow-in
                " aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">Alerts Center</h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-file-alt text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 12, 2019</div>
                    <span class="font-weight-bold">A new monthly report is ready to download!</span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-donate text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 7, 2019</div>
                    $290.29 has been deposited into your account!
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for
                    your account.
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
              </div>
            </li>

            <!-- Nav Item - Messages -->
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <!-- Counter - Messages -->
                <span class="badge badge-danger badge-counter">2</span>
              </a>
              <!-- Dropdown - Messages -->
              <div class="
                  dropdown-list dropdown-menu dropdown-menu-right
                  shadow
                  animated--grow-in
                " aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">Message Center</h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="../../../../assets/admin/img/customers.png" alt="..." />
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">
                      Hi there! I am wondering if you can help me with a problem
                      I've been having.
                    </div>
                    <div class="small text-gray-500">Emily Fowler · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="../../../../assets/admin/img/customers.png" alt="..." />
                    <div class="status-indicator"></div>
                  </div>
                  <div>
                    <div class="text-truncate">
                      I have the photos that you ordered last month, how would
                      you like them sent to you?
                    </div>
                    <div class="small text-gray-500">Jae Chun · 1d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="../../../../assets/admin/img/customers.png" alt="..." />
                    <div class="status-indicator bg-warning"></div>
                  </div>
                  <div>
                    <div class="text-truncate">
                      Last month's report looks great, I am very happy with the
                      progress so far, keep up the good work!
                    </div>
                    <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60" alt="..." />
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div>
                    <div class="text-truncate">
                      Am I a good boy? The reason I ask is because someone told
                      me that people say this to all dogs, even if they aren't
                      good...
                    </div>
                    <div class="small text-gray-500">Chicken the Dog · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img *ngIf="image == undefined" src="../../../../../assets/img/download (1).png"
                  class="img-profile rounded-circle mr-3" alt="" />
                <img class="img-profile rounded-circle mr-3" *ngIf="image != undefined" [src]="image" />
                <span class="d-none d-lg-inline mt-2 text-gray-600 small">{{ this.userData.firstName }} {{
                  this.userData.lastName }}
                  <p>{{ this.userData.email }}</p>
                </span>
              </a>
              <!-- Dropdown - User Information -->
              <div class="
                  dropdown-menu dropdown-menu-right
                  shadow
                  animated--grow-in
                " aria-labelledby="userDropdown">
                <a class="dropdown-item" routerLink="/settings/update-profile">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" routerLink="/settings/change-password">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>Change Password</a>
                <a class="dropdown-item">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">
          <router-outlet></router-outlet>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; 2011-{{date | date: "yyyy"}} Polaris</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure, Wanna Log Out?
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">
            Cancel
          </button>
          <a class="btn btn-primary" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
  </div>
</body>