<app-homeheader></app-homeheader>
<a class="back-to-top" [ngClass]="{'button-scroll-to-top--show': showScroll}"  (click)="scrollToTop()"  style="display: inline;cursor:pointer;"><i class="ri-arrow-up-line"></i></a>
<div *ngIf="loading" id="preloader"></div>

<!-- ======= Hero Section ======= -->

<div class="masthead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="font-weight-light text-white">Integration and Partners</h1>

      </div>
    </div>
  </div>
</div>


<!-- End Hero -->

<main id="main">


  <!-- ======= About Us Section ======= -->
  <main id="main">
    <section id="about" class="about">
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-title">
          <p class="text-uppercase ycolor">Our Partners</p>
          <h2>
            Seamlessly connect multiple sales channels<br />
            <span class="pcolor">into a single platform</span>
          </h2>
        </div>
        <section class="customer-logos slider slick-initialized slick-slider">
          <div aria-live="polite" class="slick-list draggable">
            <div
              class="slick-track"
              style="
                opacity: 1;
                width: 4224px;
                transform: translate3d(-2508px, 0px, 0px);
              "
              role="listbox"
            >
              <div
                class="slide slick-slide slick-cloned"
                data-slick-index="-10"
                id=""
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/3.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned"
                data-slick-index="-9"
                id=""
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/4.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned"
                data-slick-index="-8"
                id=""
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/5.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned"
                data-slick-index="-7"
                id=""
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/6.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned"
                data-slick-index="-6"
                id=""
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/7.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned"
                data-slick-index="-5"
                id=""
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/8.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned"
                data-slick-index="-4"
                id=""
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/9.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned"
                data-slick-index="-3"
                id=""
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/10.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned"
                data-slick-index="-2"
                id=""
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/11.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned"
                data-slick-index="-1"
                id=""
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/12.png" />
              </div>
              <div
                class="slide slick-slide"
                data-slick-index="0"
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
                role="option"
                aria-describedby="slick-slide00"
              >
                <img src="../../../../../assets/polercelinks/img/1.png" />
              </div>
              <div
                class="slide slick-slide"
                data-slick-index="1"
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
                role="option"
                aria-describedby="slick-slide01"
              >
                <img src="../../../../../assets/polercelinks/img/2.png" />
              </div>
              <div
                class="slide slick-slide"
                data-slick-index="2"
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
                role="option"
                aria-describedby="slick-slide02"
              >
                <img src="../../../../../assets/polercelinks/img/3.png" />
              </div>
              <div
                class="slide slick-slide"
                data-slick-index="3"
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
                role="option"
                aria-describedby="slick-slide03"
              >
                <img src="../../../../../assets/polercelinks/img/4.png" />
              </div>
              <div
                class="slide slick-slide"
                data-slick-index="4"
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
                role="option"
                aria-describedby="slick-slide04"
              >
                <img src="../../../../../assets/polercelinks/img/5.png" />
              </div>
              <div
                class="slide slick-slide"
                data-slick-index="5"
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
                role="option"
                aria-describedby="slick-slide05"
              >
                <img src="../../../../../assets/polercelinks/img/6.png" />
              </div>
              <div
                class="slide slick-slide"
                data-slick-index="6"
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
                role="option"
                aria-describedby="slick-slide06"
              >
                <img src="../../../../../assets/polercelinks//img/7.png" />
              </div>
              <div
                class="slide slick-slide"
                data-slick-index="7"
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
                role="option"
                aria-describedby="slick-slide07"
              >
                <img src="../../../../../assets/polercelinks/img/8.png" />
              </div>
              <div
                class="slide slick-slide"
                data-slick-index="8"
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
                role="option"
                aria-describedby="slick-slide08"
              >
                <img src="../../../../../assets/polercelinks/img/9.png" />
              </div>
              <div
                class="slide slick-slide slick-current slick-active"
                data-slick-index="9"
                aria-hidden="false"
                style="width: 192px"
                tabindex="-1"
                role="option"
                aria-describedby="slick-slide09"
              >
                <img src="../../../../../assets/polercelinks/img/10.png" />
              </div>
              <div
                class="slide slick-slide slick-active"
                data-slick-index="10"
                aria-hidden="false"
                style="width: 192px"
                tabindex="-1"
                role="option"
                aria-describedby="slick-slide010"
              >
                <img src="../../../../../assets/polercelinks/img/11.png" />
              </div>
              <div
                class="slide slick-slide slick-active"
                data-slick-index="11"
                aria-hidden="false"
                style="width: 192px"
                tabindex="-1"
                role="option"
                aria-describedby="slick-slide011"
              >
                <img src="../../../../../assets/polercelinks/img/12.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned slick-active"
                data-slick-index="12"
                id=""
                aria-hidden="false"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/1.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned slick-active"
                data-slick-index="13"
                id=""
                aria-hidden="false"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/2.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned slick-active"
                data-slick-index="14"
                id=""
                aria-hidden="false"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/3.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned slick-active"
                data-slick-index="15"
                id=""
                aria-hidden="false"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/4.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned slick-active"
                data-slick-index="16"
                id=""
                aria-hidden="false"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/5.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned slick-active"
                data-slick-index="17"
                id=""
                aria-hidden="false"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/6.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned slick-active"
                data-slick-index="18"
                id=""
                aria-hidden="false"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/7.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned"
                data-slick-index="19"
                id=""
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/8.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned"
                data-slick-index="20"
                id=""
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/9.png" />
              </div>
              <div
                class="slide slick-slide slick-cloned"
                data-slick-index="21"
                id=""
                aria-hidden="true"
                style="width: 192px"
                tabindex="-1"
              >
                <img src="../../../../../assets/polercelinks/img/10.png" />
              </div>
            </div>
          </div>
        </section>
      </div>
    </section>
  <!-- End About Us Section -->



	<section>
	  <div class="container aos-init aos-animate" data-aos="fade-up">
  <div class="section-title">
        <p class="text-uppercase ycolor">Integration</p>
        <h2>The fastest, easiest way to <br>
          get products to <span class="ycolor">your customers.</span></h2>
	  <p>Magnam dolores commodi suscipit. Necessitatibus Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

	<div class="row">
                  <div class="col-lg-6 d-flex align-items-center aos-init aos-animate" data-aos="fade-right" data-aos-delay="100"> <img src="../../../../../assets/polercelinks/img/integrate.jpg" class="img-fluid" alt=""> </div>
                  <div class="col-lg-6 pt-4 my-auto pt-lg-0 content aos-init aos-animate" data-aos="fade-left" data-aos-delay="100">
                    <h3 class="ycolor">Integration & Consulting Partners</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Lorem ipsum dolor sit amet, consectetur  </p>

					  <ul class="list-group ">
    <li class="list-group-item"><i class="ri-check-double-line"></i> Lorem ipsum dolor sit amet Lorem ipsum </li>
    <li class="list-group-item"><i class="ri-check-double-line"></i> Lorem ipsum </li>
    <li class="list-group-item"><i class="ri-check-double-line"></i> Lorem ipsum dolor sit amet Lorem sit amet</li>
    <li class="list-group-item"> <i class="ri-check-double-line"></i> Lorem ipsum dolor sit Lorem ipsum</li>
</ul>
					     <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
					     <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>


                    </div>
                </div>
		</div>
	</section>

</main>
<!-- End #main -->
<app-homefooter></app-homefooter>
