.head{
  text-align: center;
  color: white;
}

.card-header
{
  background-color: #850273;
}

.btn{
  background-color: #850273;
  color: white;
}

#btn1{
  background-color: #d4d4d4;
  color: black;

}
