<!-- ======= Header ======= -->
<header id="header" class="fixed-top " >
  <div class="container d-flex align-items-center">
    <h1 class="logo mr-auto"><a routerLink="/home"><img src="../../../../assets/polercelinks/img/logo.png"  alt=""/></a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a routerLink="/home">Home</a></li>
        <li ><a routerLink="/productsandfeatures">Products and Features</a></li>
        <li ><a routerLink="/intigrationandpartners">Integration and Partners</a></li>
        <li><a routerLink="/pricing">Pricing</a></li>
        <li><a routerLink="/resources">Resources</a></li>
        <li><a routerLink="/demo">Book a Demo</a></li>
        <li><a routerLink="/auth/login">Login</a></li>
      </ul>
    </nav>
    <!-- .nav-menu -->

    <a routerLink="/product" class="btn btn-purple ml-3 text-uppercase  scrollto">Products</a> </div>
</header>
<!-- End Header -->
