<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo mr-auto">
      <a routerLink="/home"
        ><img src="../../../../assets/polercelinks/img/logo.png" alt=""
      /></a>
    </h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block">
      <button
        class="navbar-toggler collapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <ul>
        <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
        <li routerLinkActive="active"><a routerLink="/aboutus">About Us</a></li>
        <li routerLinkActive="active">
          <a routerLink="/productsandfeatures">Products and Features</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/intigrationandpartners">Integration and Partners</a>
        </li>
        <li routerLinkActive="active"><a routerLink="/pricing">Pricing</a></li>
        <li routerLinkActive="active">
          <a routerLink="/resources">Resources</a>
        </li>
        <li routerLinkActive="active"><a routerLink="/demo">Book a Demo</a></li>
        <li><a routerLink="/auth/login">Login</a></li>
      </ul>
    </nav>

    <!-- .nav-menu -->
    <a routerLink="/product" class="btn btn-purple ml-3 text-uppercase scrollto"
      >Products</a
    >
  </div>
</header>
<!-- End Header -->