.navbar-toggler{
  color: white !important ;
}

a.btn.btn-purple.ml-3.text-uppercase.scrollto {
  border: 1px solid rgba(162, 0, 150, 0.75);
  border-radius: 35px;
}


// @media (max-width: 1100px) {
//   nav ul     { display: none; }
//   nav select { display: inline-block; }
// }