.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.margin-top {
  margin-top: 17px;
}

.padding-right {
  padding-right: 25px;
}
.padding-left {
  padding-left: 25px;
}
.autocomplete {
  border-top: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: #848181;
}
.left-input-boder {
  border-left: 1px solid;
  border-right: 1px solid;
}
.p-autocomplete{
  width: 100%;
}
.txt-align-center{
  text-align: center;
}
.background{
  background: #ffb6c13b;
  padding: 10px;
  color: #db2742;
  font-size: 14px;
}
