<app-homeheader></app-homeheader>
<a class="back-to-top" [ngClass]="{'button-scroll-to-top--show': showScroll}" (click)="scrollToTop()"
  style="display: inline;cursor:pointer;"><i class="ri-arrow-up-line"></i></a>
<div *ngIf="loading" id="preloader"></div>
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="
          col-lg-6
          d-flex
          flex-column
          justify-content-center
          pt-4 pt-lg-0
          order-2 order-lg-1
        " data-aos="fade-up" data-aos-delay="200">
        <h1>
          Grow Your Sales <br />
          and <span class="pcolor">Boost</span> Your
          <span class="ycolor">Profits</span>
        </h1>
        <h2>
          Grow and Manage Your E-Commerce Channels on the One Platform All-
          In-One Solution for E-Commerce Retailers to Connect, Manage, and
          Automate their Listings, Inventory and Shipping and get Valueable
          insights and Data
        </h2>
        <div class="d-lg-flex">
          <a routerLink="/pricing" class="btn btn-purple scrollto">Try It Free</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="../../../../../assets/polercelinks/img/hero-img.png" class="img-fluid animated" alt="" />
      </div>
    </div>
  </div>
</section>

<div class="row">
  <div class="col-sm-12 text-center" style="margin-top: -60px">
    <img src="../../../../../assets/polercelinks/img/arrow-icon.png" alt="" />
  </div>
</div>

<main id="main">
  <section id="about" class="about">
    <div class="container-fluid" data-aos="fade-up">
      <div class="section-title">
        <p class="text-uppercase ycolor">Our Partners</p>
        <h2>
          Seamlessly connect multiple sales channels<br />
          <span class="pcolor">into a single platform</span>
        </h2>
      </div>
      <section class="customer-logos slider slick-initialized slick-slider">
        <div aria-live="polite" class="slick-list draggable">
          <div class="slick-track" style="
              opacity: 1;
              width: 4224px;
              transform: translate3d(-2508px, 0px, 0px);
            " role="listbox">
            <div class="slide slick-slide slick-cloned" data-slick-index="-10" id="" aria-hidden="true"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/3.png" />
            </div>
            <div class="slide slick-slide slick-cloned" data-slick-index="-9" id="" aria-hidden="true"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/4.png" />
            </div>
            <div class="slide slick-slide slick-cloned" data-slick-index="-8" id="" aria-hidden="true"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/5.png" />
            </div>
            <div class="slide slick-slide slick-cloned" data-slick-index="-7" id="" aria-hidden="true"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/6.png" />
            </div>
            <div class="slide slick-slide slick-cloned" data-slick-index="-6" id="" aria-hidden="true"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/7.png" />
            </div>
            <div class="slide slick-slide slick-cloned" data-slick-index="-5" id="" aria-hidden="true"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/8.png" />
            </div>
            <div class="slide slick-slide slick-cloned" data-slick-index="-4" id="" aria-hidden="true"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/9.png" />
            </div>
            <div class="slide slick-slide slick-cloned" data-slick-index="-3" id="" aria-hidden="true"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/10.png" />
            </div>
            <div class="slide slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/11.png" />
            </div>
            <div class="slide slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/12.png" />
            </div>
            <div class="slide slick-slide" data-slick-index="0" aria-hidden="true" style="width: 192px" tabindex="-1"
              role="option" aria-describedby="slick-slide00">
              <img src="../../../../../assets/polercelinks/img/1.png" />
            </div>
            <div class="slide slick-slide" data-slick-index="1" aria-hidden="true" style="width: 192px" tabindex="-1"
              role="option" aria-describedby="slick-slide01">
              <img src="../../../../../assets/polercelinks/img/2.png" />
            </div>
            <div class="slide slick-slide" data-slick-index="2" aria-hidden="true" style="width: 192px" tabindex="-1"
              role="option" aria-describedby="slick-slide02">
              <img src="../../../../../assets/polercelinks/img/3.png" />
            </div>
            <div class="slide slick-slide" data-slick-index="3" aria-hidden="true" style="width: 192px" tabindex="-1"
              role="option" aria-describedby="slick-slide03">
              <img src="../../../../../assets/polercelinks/img/4.png" />
            </div>
            <div class="slide slick-slide" data-slick-index="4" aria-hidden="true" style="width: 192px" tabindex="-1"
              role="option" aria-describedby="slick-slide04">
              <img src="../../../../../assets/polercelinks/img/5.png" />
            </div>
            <div class="slide slick-slide" data-slick-index="5" aria-hidden="true" style="width: 192px" tabindex="-1"
              role="option" aria-describedby="slick-slide05">
              <img src="../../../../../assets/polercelinks/img/6.png" />
            </div>
            <div class="slide slick-slide" data-slick-index="6" aria-hidden="true" style="width: 192px" tabindex="-1"
              role="option" aria-describedby="slick-slide06">
              <img src="../../../../../assets/polercelinks//img/7.png" />
            </div>
            <div class="slide slick-slide" data-slick-index="7" aria-hidden="true" style="width: 192px" tabindex="-1"
              role="option" aria-describedby="slick-slide07">
              <img src="../../../../../assets/polercelinks/img/8.png" />
            </div>
            <div class="slide slick-slide" data-slick-index="8" aria-hidden="true" style="width: 192px" tabindex="-1"
              role="option" aria-describedby="slick-slide08">
              <img src="../../../../../assets/polercelinks/img/9.png" />
            </div>
            <div class="slide slick-slide slick-current slick-active" data-slick-index="9" aria-hidden="false"
              style="width: 192px" tabindex="-1" role="option" aria-describedby="slick-slide09">
              <img src="../../../../../assets/polercelinks/img/10.png" />
            </div>
            <div class="slide slick-slide slick-active" data-slick-index="10" aria-hidden="false" style="width: 192px"
              tabindex="-1" role="option" aria-describedby="slick-slide010">
              <img src="../../../../../assets/polercelinks/img/11.png" />
            </div>
            <div class="slide slick-slide slick-active" data-slick-index="11" aria-hidden="false" style="width: 192px"
              tabindex="-1" role="option" aria-describedby="slick-slide011">
              <img src="../../../../../assets/polercelinks/img/12.png" />
            </div>
            <div class="slide slick-slide slick-cloned slick-active" data-slick-index="12" id="" aria-hidden="false"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/1.png" />
            </div>
            <div class="slide slick-slide slick-cloned slick-active" data-slick-index="13" id="" aria-hidden="false"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/2.png" />
            </div>
            <div class="slide slick-slide slick-cloned slick-active" data-slick-index="14" id="" aria-hidden="false"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/3.png" />
            </div>
            <div class="slide slick-slide slick-cloned slick-active" data-slick-index="15" id="" aria-hidden="false"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/4.png" />
            </div>
            <div class="slide slick-slide slick-cloned slick-active" data-slick-index="16" id="" aria-hidden="false"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/5.png" />
            </div>
            <div class="slide slick-slide slick-cloned slick-active" data-slick-index="17" id="" aria-hidden="false"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/6.png" />
            </div>
            <div class="slide slick-slide slick-cloned slick-active" data-slick-index="18" id="" aria-hidden="false"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/7.png" />
            </div>
            <div class="slide slick-slide slick-cloned" data-slick-index="19" id="" aria-hidden="true"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/8.png" />
            </div>
            <div class="slide slick-slide slick-cloned" data-slick-index="20" id="" aria-hidden="true"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/9.png" />
            </div>
            <div class="slide slick-slide slick-cloned" data-slick-index="21" id="" aria-hidden="true"
              style="width: 192px" tabindex="-1">
              <img src="../../../../../assets/polercelinks/img/10.png" />
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>

  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <p class="text-uppercase ycolor">How it Works</p>
        <h2>
          The fastest, easiest way to <br />
          get products to <span class="ycolor">your customers.</span>
        </h2>
      </div>
    </div>
  </section>

  <section id="skills" class="skills">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon mb-3">
              <img src="../../../../../assets/polercelinks/img/import-orders.png" alt="" />
            </div>
            <h4>Import Orders</h4>
            <p>
              Import orders from 100+c selling channels, marketplaces, ERPs,
              CRMs, or IMSs with shipping configuration automatically applied.
            </p>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon mb-3">
              <img src="../../../../../assets/polercelinks/img/manage-orders.png" alt="" />
            </div>
            <h4>Manage Orders</h4>
            <p>
              Use our scan-based workflows, bulk updates, and automation
              processes to quickly fulfill your day`s shipments.
            </p>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon mb-3">
              <img src="../../../../../assets/polercelinks/img/print-labels.png" alt="" />
            </div>
            <h4>Print Labels</h4>
            <p>
              Comparte rates from top carriers and print labels individually or
              in batches of up to 500.
            </p>
          </div>
        </div>
        <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-0" data-aos="zoom-in" data-aos-delay="400">
          <div class="icon-box">
            <div class="icon mb-3">
              <img src="../../../../../assets/polercelinks/img/send-tracking.png" alt="" />
            </div>
            <h4>Send Tracking to Selling Channels and Customers</h4>
            <p>
              ShipStation instantly updates tracking information to the selling
              channel and the customer once an order ships.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="cta" class="cta">
    <div class="container" data-aos="zoom-in">
      <div class="row">
        <div class="col-lg-9 ml-auto text-center text-lg-left p-4">
          <p class="text-uppercase text-dark">Our Features</p>
          <h2 class="text-dark font-weight-bold">
            The fastest, easiest way to get<br />
            products <span class="pcolor"> to your customers.</span>
          </h2>
          <p class="text-dark">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container overflow-hidden">
      <div class="multisteps-form">
        <div class="row">
          <div class="col-12 col-lg-12 ml-auto mr-auto mb-4">
            <div class="multisteps-form__progress">
              <button class="multisteps-form__progress-btn js-active" type="button" title="Listing Management">
                Listing<br />
                Management
              </button>
              <button class="multisteps-form__progress-btn" type="button" title="Order Management">
                Order <br />
                Management
              </button>
              <button class="multisteps-form__progress-btn" type="button" title="Inventory Management">
                Inventory<br />
                Management
              </button>
              <button class="multisteps-form__progress-btn" type="button" title="Profit and Cost Management ">
                Profit and Cost <br />
                Management
              </button>
              <button class="multisteps-form__progress-btn" type="button" title="Shipping Management">
                Shipping<br />
                Management
              </button>
              <button class="multisteps-form__progress-btn" type="button" title="E-Commerce Represeantative">
                E-Commerce <br />
                Represeantative
              </button>
              <button class="multisteps-form__progress-btn" type="button" title="Data and Reports">
                Data <br />
                and Reports
              </button>
            </div>
          </div>
        </div>

        <div class="row pt-4">
          <div class="col-12 col-lg-12">
            <form class="multisteps-form__form">
              <div class="multisteps-form__panel p-4 rounded bg-white js-active" data-animation="scaleIn">
                <div class="row">
                  <div class="
                      col-lg-6
                      d-flex
                      align-items-center
                      aos-init aos-animate
                    " data-aos="fade-right" data-aos-delay="100">
                    <img src="../../../../../assets/polercelinks/img/listing-manage.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left"
                    data-aos-delay="100">
                    <h3 class="ycolor">Listing Management</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit, sed do eiusmod tempor incididunt ut labore et dolore
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet
                    </p>
                    <a href="#" class="btn btn-purple text-uppercase">Read More</a>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel p-4 rounded bg-white" data-animation="scaleIn">
                <div class="row">
                  <div class="
                      col-lg-6
                      d-flex
                      align-items-center
                      aos-init aos-animate
                    " data-aos="fade-right" data-aos-delay="100">
                    <img src="../../../../../assets/polercelinks/img/listing-manage.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left"
                    data-aos-delay="100">
                    <h3 class="ycolor">Order Management</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit, sed do eiusmod tempor incididunt ut labore et dolore
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet
                    </p>
                    <a href="#" class="btn btn-purple text-uppercase">Read More</a>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel p-4 rounded bg-white" data-animation="scaleIn">
                <div class="row">
                  <div class="
                      col-lg-6
                      d-flex
                      align-items-center
                      aos-init aos-animate
                    " data-aos="fade-right" data-aos-delay="100">
                    <img src="../../../../../assets/polercelinks/img/listing-manage.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left"
                    data-aos-delay="100">
                    <h3 class="ycolor">Inventory Management</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit, sed do eiusmod tempor incididunt ut labore et dolore
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet
                    </p>
                    <a href="#" class="btn btn-purple text-uppercase">Read More</a>
                  </div>
                </div>
              </div>

              <div class="multisteps-form__panel p-4 rounded bg-white" data-animation="scaleIn">
                <div class="row">
                  <div class="
                      col-lg-6
                      d-flex
                      align-items-center
                      aos-init aos-animate
                    " data-aos="fade-right" data-aos-delay="100">
                    <img src="../../../../../assets/polercelinks/img/listing-manage.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left"
                    data-aos-delay="100">
                    <h3 class="ycolor">Profit and Cost Management</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit, sed do eiusmod tempor incididunt ut labore et dolore
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet
                    </p>
                    <a href="#" class="btn btn-purple text-uppercase">Read More</a>
                  </div>
                </div>
              </div>
              <div class="multisteps-form__panel p-4 rounded bg-white" data-animation="scaleIn">
                <div class="row">
                  <div class="
                      col-lg-6
                      d-flex
                      align-items-center
                      aos-init aos-animate
                    " data-aos="fade-right" data-aos-delay="100">
                    <img src="../../../../../assets/polercelinks/img/listing-manage.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left"
                    data-aos-delay="100">
                    <h3 class="ycolor">Shipping Management</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit, sed do eiusmod tempor incididunt ut labore et dolore
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet
                    </p>
                    <a href="#" class="btn btn-purple text-uppercase">Read More</a>
                  </div>
                </div>
              </div>
              <div class="multisteps-form__panel p-4 rounded bg-white" data-animation="scaleIn">
                <div class="row">
                  <div class="
                      col-lg-6
                      d-flex
                      align-items-center
                      aos-init aos-animate
                    " data-aos="fade-right" data-aos-delay="100">
                    <img src="../../../../../assets/polercelinks/img/listing-manage.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left"
                    data-aos-delay="100">
                    <h3 class="ycolor">E-Commerce Representative</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit, sed do eiusmod tempor incididunt ut labore et dolore
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet
                    </p>
                    <a href="#" class="btn btn-purple text-uppercase">Read More</a>
                  </div>
                </div>
              </div>
              <div class="multisteps-form__panel p-4 rounded bg-white" data-animation="scaleIn">
                <div class="row">
                  <div class="
                      col-lg-6
                      d-flex
                      align-items-center
                      aos-init aos-animate
                    " data-aos="fade-right" data-aos-delay="100">
                    <img src="../../../../../assets/polercelinks/img/listing-manage.jpg" class="img-fluid" alt="" />
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left"
                    data-aos-delay="100">
                    <h3 class="ycolor">Data and Reports</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit, sed do eiusmod tempor incididunt ut labore et dolore
                      magna aliqua. Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing
                      elit, sed do eiusmod tempor incididunt ut labore et dolore
                    </p>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Lorem ipsum dolor sit amet
                    </p>
                    <a href="#" class="btn btn-purple text-uppercase">Read More</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="testi">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 my-auto">
          <p class="text-uppercase ycolor">Testimonial</p>
          <h2 class="text-dark font-weight-bold">
            Customer<br />
            <span class="ycolor"> Reviews </span>and
            <span class="pcolor"> Feedback</span>
          </h2>
          <p class="text-dark">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt.
          </p>
        </div>
        <div class="col-lg-8 col-md-12">
          <div class="testi-wrap p-5">
            <div class="client-single active shadow position-1" data-position="position-1">
              <div class="client-img">
                <img src="../../../../../assets/polercelinks/img/t1.png" alt="" />
              </div>
              <div class="client-comment">
                <h3>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </h3>
                <h4 class="pcolor font-weight-bold pt-3">Monkey D, Luffy</h4>
              </div>
            </div>
            <div class="client-single inactive position-2" data-position="position-2">
              <div class="client-img">
                <img src="../../../../../assets/polercelinks/img/t1.png" alt="" />
              </div>
              <div class="client-comment">
                <h3>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </h3>
                <h4 class="pcolor font-weight-bold pt-3">Monkey D, Luffy</h4>
              </div>
            </div>
            <div class="client-single inactive position-3" data-position="position-3">
              <div class="client-img">
                <img src="../../../../../assets/polercelinks/img/t1.png" alt="" />
              </div>
              <div class="client-comment">
                <h3>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </h3>
                <h4 class="pcolor font-weight-bold pt-3">Monkey D, Luffy</h4>
              </div>
            </div>
            <div class="client-single inactive position-4" data-position="position-4">
              <div class="client-img">
                <img src="../../../../../assets/polercelinks/img/t1.png" alt="" />
              </div>
              <div class="client-comment">
                <h3>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </h3>
                <h4 class="pcolor font-weight-bold pt-3">Monkey D, Luffy</h4>
              </div>
            </div>
            <div class="client-single inactive position-5" data-position="position-5">
              <div class="client-img">
                <img src="../../../../../assets/polercelinks/img/t1.png" alt="" />
              </div>
              <div class="client-comment">
                <h3>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </h3>
                <h4 class="pcolor font-weight-bold pt-3">Monkey D, Luffy</h4>
              </div>
            </div>
            <div class="client-single inactive position-6" data-position="position-6">
              <div class="client-img">
                <img src="../../../../../assets/polercelinks/img/t1.png" alt="" />
              </div>
              <div class="client-comment">
                <h3>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </h3>
                <h4 class="pcolor font-weight-bold pt-3">Monkey D, Luffy</h4>
              </div>
            </div>
            <div class="client-single inactive position-7" data-position="position-7">
              <div class="client-img">
                <img src="../../../../../assets/polercelinks/img/t1.png" alt="" />
              </div>
              <div class="client-comment">
                <h3>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </h3>
                <h4 class="pcolor font-weight-bold pt-3">Monkey D, Luffy</h4>
              </div>
            </div>
            <div class="row h-100 p-3 align-items-end">
              <div class="col-sm-4 ml-auto height-bottom">
                <a href="#"><img src="../../../../../assets/polercelinks/img/arrow-back.png" alt="" /></a>
                <a href="#"><img src="../../../../../assets/polercelinks/img/arrow.png" alt="" /></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-homefooter></app-homefooter>